export(atlas_open)
export(assay)
export(by_sample)
export(by_feature)
export(end)
export(prune)
export(transform)
export(collapse_tax)
export(collapse_by)
export(summarise)
export(collect)
export(keep_samples)
export(keep_features)
export(drop_samples)
export(drop_features)
export(select_samples_where)
export(select_features_where)
export(as_long)
export(samp_tbl)
export(feat_tbl)
export(new_assay)
export(connect_duckdb)
export(ensure_httpfs)
export(set_r2_secret)
S3method(prune,assay_ctx)
S3method(prune,assay)
S3method(prune,assay_ref)
S3method(transform,assay_ctx)
S3method(transform,assay)
S3method(transform,assay_ref)
S3method(collapse_tax,assay_ctx)
S3method(collapse_tax,assay)
S3method(collapse_tax,assay_ref)
S3method(collapse_by,assay_ctx)
S3method(collapse_by,assay)
S3method(collapse_by,assay_ref)
S3method(summarise,assay_ctx)
S3method(summarise,assay)
S3method(summarise,assay_ref)
S3method(collect,assay_ref)
S3method(collect,assay)
S3method(collect,assay_ctx)
S3method(print,assay)
S3method(print,assay_ref)
S3method(print,assay_ctx)
